/*
Courtland Allen's CSS Reset
v1.0.1 | May 1, 2016
License: none (public domain)
*/

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, figcaption, figure, footer, header, hgroup, menu, nav, section,
summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav,
section {
  display: block;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: inherit;
}

ol, ul {
  list-style: none;
}

table {
  border-spacing: 0;
  border-collapse: separate;
}

/* links */

a {
  background: transparent;
  color: inherit;
  margin: 0;
  padding: 0;
  font-size: 100%;
  text-decoration: none;
  vertical-align: baseline;
}

/* form fields */

input, button, textarea, select {
  border: 0 none;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  margin: 0;
  outline: none;
  padding: 0;
  resize: none;
}

input::placeholder,
button::placeholder,
textarea::placeholder,
select::placeholder {
  color: inherit;
}

input, button, textarea {
  background-color: transparent;
}

input[type="search"] {
  -webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* box sizing */

html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}
